<head>
  <title>Log In</title>
</head>
<body>
<div class="jumbotron vertical-center" style="background-image: url('assets/signinbg.jpg'); min-height: 100%; min-height: 100vh; display: flex;  align-items: center;">
  <div class="loginfield">
    <%= form_tag sessions_path do %>
    <div class = 'field'>
      <p class = "smalltag" color= >Email or Username:</p>
      <div><%= text_field_tag :email, params[:email], :autofocus=>true %></div>
    </div>
    <div class = 'field'>
      <p class = "smalltag">Password:</p>
      <div><%= password_field_tag :Password %></div>
    </div>
    <div>
      <botton id ="sign_in_botton"><%= submit_tag "Log In" %></botton> | <%= link_to "Need an account? Sign up!", sign_up_path %> |
      <%= link_to "Forgot password", reset_password_path %>
    </div>
    <% end %>
  </div>
</div>
</body>
