<%# Sessions#new %>

<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p class = 'field'>
    <%= label_tag :username_or_email %><br />
    <%= text_field_tag :email, params[:email], :autofocus=>true %>
  </p>
  <p class = 'field'>
    <%= label_tag :password %><br />
    <%= password_field_tag :Password %>
  </p>
  <p class="button" style="color:black;"><%= submit_tag "Log In" %></p>
<% end %>
