<!-- <div>
  <%= button_to("Prev", drink_results_path(:page => @page.to_i-1, :results => @results), :class => 'pageLinks') %>
  <span class="pageLinks">Page <%= @page.to_i %></span>
  <%= button_to("Next", drink_results_path(:page => @page.to_i+1, :results => @results), :class => 'pageLinks') %>
</div>
-->
<%= flash_message %>
<div class='searchResults'>
  <p><img alt="Image" src="/assets/drinkresult.png" > </p>
  <br></br>
  <% if @publishresults.count != 0 %>
    <p style='clear:both'>User-created Drinks</p>
    <% @publishresults.each do |drink| %>
      <div style="clear:both">
        <div class="drinkImage">
          <%= image_tag( drink['image'] ? "#{drink.image.thumb.url}" : "no-image.jpg", size: "150x150", alt: "") %>
        </div>
        <%= link_to("#{drink["name"]}", drink, :class => 'drinkName searchResultsName') %>
      </div>
    <% end %>
  <% end %>
  <% if @APIresults != nil %>
    <p style='clear:both'>Pre-existing Drinks</p>
    <% @APIresults.each do |drink| %>
      <div style="clear:both">
        <div class="drinkImage">
          <%= image_tag( drink['strDrinkThumb'] ? "#{drink['strDrinkThumb']}" : "no-image.jpg", size: "150x150", alt: "") %>
        </div>
        <%= link_to("#{drink["strDrink"]}", drink_show_path(:drink => drink), :class => 'drinkName searchResultsName') %>
      </div>
    <% end %>
  <% end %>
</div>
