<!-- <div>
  <%= button_to("Prev", drink_results_path(:page => @page.to_i-1, :results => @results), :class => 'pageLinks') %>
  <span class="pageLinks">Page <%= @page.to_i %></span>
  <%= button_to("Next", drink_results_path(:page => @page.to_i+1, :results => @results), :class => 'pageLinks') %>
</div>
This isn't needed for this search it seems, but will be useful later -->

<div class='searchResults'>
  <% @results.each do |drink| %>
    <div style="clear:both">
      <div class="drinkImage">
        <%= image_tag( "#{drink['strDrinkThumb']}", size: "100x100", alt: "") %>
      </div>
      <h1 class="drinkName"><%= drink['strDrink'] %></h1>
    </div>
  <% end %>
</div>
