<p id="notice"><%= notice %></p>

<p>
  <strong>Dname:</strong>
  <%= @drink.Dname %>
</p>

<p>
  <strong>User:</strong>
  <%= @drink.user_id %>
</p>

<p>
  <strong>Drink:</strong>
  <%= @drink.drink_id %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
