<body style="height:100%;width:100%;background-color:black; ">
<%= flash_message %>
<div class="jumbotron vertical-centers" style="background-image: url('/assets/publishbg.jpg'); min-height: 100%; min-height: 100vh;">
<div class="container-fluid" style="margin-left:20px;">
<div class="drinkImage">
  <%= image_tag( @drink['strDrinkThumb'] && @drink['strDrinkThumb'] != "" ? "#{@drink['strDrinkThumb']}" : 'no-image.jpg', size: "200x200", alt: "") %>

</div>
<div class="drinkDetails" style="margin-left:10px;">
  <h1 class="drinkName"><%= @drink['strDrink']%></h1>
  <ul class="ingredients">
    <%= for i in 1..15 do %>
      <% if @drink["strIngredient#{i}"] == "" then %>
        <% break %>
      <% end %>
      <li style="font-size:18px;"><%= @drink["strMeasure#{i}"] %><%= @drink["strIngredient#{i}"]%></li>
    <% end %>
  </ul>
  <p class="instructions"><%= @drink['strInstructions'] %></p>
</div>


<% if drink_in_database(@drink['strDrink']) %>

<% else %>

  <% if current_user %>
    <%= link_to 'Like' %> |
    <%= link_to 'Dislike' %>
  <% else %>
    <%= link_to 'Like', sign_up_url %> |
    <%= link_to 'Dislike', sign_up_url %>
  <% end %>

<% end %>


</div>
</div>
</body
