<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li style="color:white"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br></br>
    <p class="smalltag"><%= f.label :Username %></p>
    <%= f.text_field :Username,:id => "inputfield" %>
  </div>

  <div class="field">
    <br></br>
    <p class="smalltag"><%= f.label :Email %></p>
    <%= f.text_field :Email,:id => "inputfield" %>
  </div>

  <div class="field">
    <br></br>
    <p class="smalltag"><%= f.label :Biography%></p>
    <p style="font-size:15px;"><%= f.text_area :Biography, size: "20x10" %></p>
  </div>

  <% if current_user && current_user.Isadmin? %>
    <div class="field">
      <p class="smalltag"><%= f.label :Isadmin %></p>
      <%= f.check_box :Isadmin %>
    </div>
  <div class="field">
    <p class="smalltag">For admin user only, change password without confirmation</p>
    <p class="smalltag"><%= f.label :Password %></p>
    <%= f.password_field :Password,:id => "inputfield"%>
  </div>

    <!--<div class="field">
    <p class="smalltag"><%= f.label :Password_confirmation %></p>
    <%= f.password_field :Password_confirmation,:id => "inputfield" %>
  </div>-->
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
