<h1>Editing User</h1>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :Username %>
    <%= f.text_field :Username %>
  </div>

  <div class="field">
    <%= f.label :Email %>
    <%= f.text_field :Email %>
  </div>

  <div class="field">
    <%= f.label :Biography%>
    <%= f.text_field :Biography %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
