<p id="notice"><%= notice %></p>
<body style="height:100%;width:100%; background-color:black">
<div class="jumbotron" style="background-image: url('assets/signupbg.jpg'); min-height: 100%; min-height: 100vh;">
    <div class="container-fluid">
  <h1><img alt="Image" src="/assets/admin.png" /> </h1>
  <br></br>

  <table>
    <thead>
      <tr>
        <th class="rowhead">Username</th>
        <th class="rowhead">Email</th>
        <th class="rowhead">Isadmin</th>
        <th class="rowhead" colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="column"><%= user.Username %></td>
          <td class="column"><%= user.Email %></td>
          <td class="column"><%= user.Isadmin %></td>
          <td class="column"><%= link_to 'Show', user %></td>
          <% if user.Username != 'admin' %>
            <td class="column"><%= link_to 'Edit', edit_user_path(user) %></td>
          <% end %>
          <% if user.Username != 'admin' %>
            <td class="column"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Make new User', new_user_path %>
</div>
</div>
</body>
