<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.Username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @user.Biography %>
</p>

<p>
  <strong>User.id:</strong>
  <%= @user.id %>
</p>


<%= link_to 'Change Password', change_password_url %> |
<%= link_to 'Back', users_path %>
