<body style="background-color:black;">
<div class="jumbotron" style="background-image: url('/assets/profilebg.jpg'); min-height: 100%; min-height: 100vh; ">

<div class="container-fluid" style="margin-left:20px;">
  <p><img alt="Image" src="/assets/profiletitle.png" > </p>
  <div id="userinfodisplay">
      <p class="smalltag">Username:</p>
      <p style="font-size:15px;"><%= @user.Username %></p>
    <br>
      <p class="smalltag">Email:</p >
      <p style="font-size:15px;"><%= @user.Email %></p>
    <br>
      <p class="smalltag">Biography:</p>
    <div class="biographydisplay"><p style="color:white; font-size: 15px; width: 300px; word-wrap:break-word; word-break:normal;">  <%= @user.Biography %></p></div>
  <div>
    <% if current_user && @user.id == current_user.id %>
      <p style="color:whte;font-size:15px"><%= link_to 'Edit Profile', edit_user_path(@user),{:style=>'color:#FFFFFF;'} %> |
      <%= link_to 'Change Password', change_password_url, {:style=>'color:#FFFFFF;'} %></p>
    <% elsif current_user %>
    <% end %>
<br>

  </div>
</div>

<div id="container-fluid">
  <br>
  <p><%= "Recipes made by " + @user.Username%></p>
    <% if @user.publishes.size > 0 %>
    <table id="publishes">
      <% @user.publishes.each do |d| %>
        <tr>
          <td id="drinkrow"><%= link_to d.name, d,{:style=>'color:#FFFFFF;'} %></td>

        </tr>
      <% end %>
    </table>
    <% else %>
      <p>This user did not publish any recipes</p>
    <% end %>
</div>

<div id="container-fluid">
<p><p><%= "Recipes liked by " + @user.Username%></p</p>
<div>
  <table id="Likes">
  <% @user.likes.where(islike:true).each do |l| %>
    <tr>
    <% @tempPublishObj = Publish.find_by(:id => l.publish_id) %>
    <td id="drinkrow"><%= link_to @tempPublishObj.name, @tempPublishObj %></td>

    <% if @user == current_user %>
      <td id="drinkrow"><a style="color:white;"<%= link_to 'Un-like', l, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
  <% end %>
  </table>
</div>

<% if @user.likes.where(islike:true).count == 0 %>
  <p>This user has no likes</p>
<% end %>

</div>
</div>
</body>
