<h1>Change Password<h2>
<%= form_for @user = :user_params do %>
<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <label for="Old Password">Old Password</label> <%= password_field_tag :old_password, params[:old_password] %>
    <label for="Password">New Password</label> <%= password_field_tag :password, params[:password] %>
    <label for="Password Confirmation">Confirm New Password</label> <%= password_field_tag :password_confirmation, params[:password_confirmation] %>
    <div class = "actions"> <%= submit_tag "Submit" %> </div>
  </div>
</div>
<%end%>
