<h1>Change Password<h2>
<%= form_for @user, :url => change_password_path(params[:Username]) do %>
<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <label for="Username">Username</label> <%= text_field_tag :Username, params[:Username] %>
    <label for="Password">Old Password</label> <%= text_field_tag :Password, parms[:Password] %>
    <label for="Password">New Password</label> <%= text_field_tag :Password, parms[:Password] %>
    <label for="Password">Confirm New Password</label> <%= text_field_tag :Password, parms[:Password] %>
<%= submit_tag "Submit" %>
<%end%>
</div>
</div>
