<%= form_for(publish) do |f| %>
  <% if publish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publish.errors.count, "error") %> prohibited this publish from being saved:</h2>

      <ul>
      <% publish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p class="smalltag"><%= f.label :user_id %>
    <%= ": " + current_user.Username %></p>
  </div>

  <div class="field">
    <p class="smalltag"><%= f.label :Drink_Name %></p>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <p class="smalltag"><%= f.label :Upload_image_here %><%= f.file_field :image %></p>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
    <p><%= f.label :remove_image %></p>
    <p> <%= f.check_box :remove_image %></p>
    <% end %>
  </div>

  <br></br>
  <div class="field">
    <p class="smalltag"><%= f.label :Ingredients %></p>
    <%= f.fields_for :ingredients do |builder| %>
      <%= builder.text_field :name %><br/>
    <% end %>
  </div>
  <br></br>

  <div class="field">
    <p class="smalltag"><%= f.label :instructions %></p>
    <%= f.text_area :instructions %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
