<%= form_for(publish) do |f| %>
  <% if publish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publish.errors.count, "error") %> prohibited this publish from being saved:</h2>

      <ul>
      <% publish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Rname %>
    <%= f.text_field :Rname %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :drink_id %>
    <%= f.number_field :drink_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
