<p id="notice"><%= notice %></p>

<p>
  <strong>Rname:</strong>
  <%= @publish.Rname %>
</p>

<strong>User:</strong>
  <% if @publish.user == nil %>
    <%= "The user who made this recipe was banned"  %>
  <% else %>
    <%= link_to @publish.user.Username, @publish.user %>
<% end %>

<% if @publish.user && current_user && @publish.user.id == current_user.id %>
  | <%= link_to 'Edit', edit_publish_path(@publish) %>
<% end %>
