<p id="notice"><%= notice %></p>

<h2>
  <%= @publish.Rname %>
</h3><br>

<strong>User:</strong>
<% if @publish.user == nil %>
  <%= "The user who made this recipe was banned"  %>
<% else %>
  <%= link_to @publish.user.Username, @publish.user %>
<% end %>

<br></br>

<p>
  <strong>
    <%= image_tag (@publish.image.blank? ? "no-image.jpg" : @publish.image.thumb.url), size: "200x200", alt: "Image not found." %>
  </strong>
</p>

<p>
  ingredients:<br>
  <strong>
    <%= @publish.ingredients %>
  </strong>
</p>

<p>
<strong>
  Instructions:<br>
  <%= @publish.instructions %>
</strong>
</p>
