<body style="background-color:black;">
<div class="jumbotron" style="background-image: url('/assets/signupbg.jpg'); min-height: 100%; min-height: 100vh;">
<div class="container-fluid" style="margin-left:20px;">

<div class='pagediv'>
  <%= button_to("Prev", ingred_page_path(:page => @page.to_i-1, :results => @GlobalArray), :class => 'pageLinks') %>
  <span class="pageLinks">Page <%= @page.to_i %></span>
  <%= button_to("Next", ingred_page_path(:page => @page.to_i+1, :results => @GlobalArray), :class => 'pageLinks') %>
</div>

<div class='searchResults'>
  <% @pagerange.each_slice(2) do |result, count| %>
    <% drink = Publish.where(:name => result)[0] %>
    <% puts drink %>
    <% if drink != nil # drink is a published drink %>
      <div style="clear:both">
        <div class="drinkImage">
          <%= image_tag( drink['image'] ? "#{drink.image.thumb.url}" : "no-image.jpg", size: "150x150", alt: "") %>
        </div>
        <%= link_to("#{drink["name"]}", drink, :class => 'drinkName searchResultsName') %>
        <br/
      </div>
    <% else %>
      <% url = "http://www.thecocktaildb.com/api/json/v1/1/search.php?s=#{result}"
      uri = URI(url)
      response = Net::HTTP.get(uri)
      parsed = JSON.parse(response)
      drink = parsed['drinks'][0]
      %>
      <div style="clear:both">
        <div class="drinkImage">
          <%= image_tag( drink['strDrinkThumb'] ? "#{drink['strDrinkThumb']}" : "no-image.jpg", size: "150x150", alt: "") %>
        </div>
        <%= link_to("#{drink["strDrink"]}", drink_show_path(:drink => drink), :class => 'drinkName searchResultsName') %>
        <br/>
        <span>matched <b class='ingredcounttext'><%= count %></b> of your selected ingredients</span>
      </div>
    <% end %>
  <% end %>
</div>

<div class='pagediv'>
  <%= button_to("Prev", ingred_page_path(:page => @page.to_i-1, :results => @GlobalArray), :class => 'pageLinks') %>
  <span class="pageLinks">Page <%= @page.to_i %></span>
  <%= button_to("Next", ingred_page_path(:page => @page.to_i+1, :results => @GlobalArray), :class => 'pageLinks') %>
</div>
  </div>
  </div>
  </body>
