<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    No need to include jquery again. It's already here.-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class = "navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-logo" href='#'> MixBook </a>
        </div>
        <ul class =" nav navbar-nav">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Publish</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="#l">About us</a></li>
          <li>
            <div id="searchDrinkfield" class="searchbar">
              <%= form_tag(drink_search_path, :method => "get", :id => "searchByDrink") do %>
                <input type="text" placeholder="Search by drink name" class="biginput" name="searchBarDrink" id="autocompleteDrink">
                <%= submit_tag 'Search' %>
              <% end %>
            </div><!-- @end #searchfield -->
          </li>

          <% if current_user %>
            <li style="float:right;color:#999">Logged in as <%= current_user.Username %></li>
            <li style="float:right"><%= link_to "Log out", log_out_path %></li>
          <% else %>
            <li style="float:right">  <%= link_to "Sign up", sign_up_path %></li>
            <li style="float:right"><%= link_to "Log in", log_in_path %></li>
          <% end %>

        </ul>
      </div>
    </nav>

    <p>
      <%= flash[:success] unless flash[:success].blank? %>
      <%= flash[:error] unless flash[:error].blank? %>
    </p>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

  </body>
  <%= yield %>
</html>
